<div>
    <%# Player list goes here %>
    <% if accepted_players.count == 0 %>
      <h3 style="text-align: center">No players registered yet</h3>
    <% else %>
  <div id="player-list" class="container row">
      <h3 style="text-align: center"><%= team.name %> players</h3>
      <% team.players.each do |player| %>
        <% if player.accepted == true %>
          <div class="card text-bg-success mb-3 mx-3 border-0 p-3" class="custom-card" style="width: 18rem; height: 6rem;" >
            <div class="d-flex justify-content-between">
              <% if player.user.photo.attached? %>
                <%= cl_image_tag player.user.photo.key, crop: :thumb, gravity: :face, class: "avatar-large", alt: "dropdown menu" %>
              <% else %>
                <img src="https://images.inc.com/uploaded_files/image/1920x1080/goal-soccer_36915.jpg" alt="">
              <% end %>
              <h5 class="card-title"><%= player.user.first_name %> <%= player.user.last_name %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%# Button to register for league %>
  <div id="register-team" style="text-align: center;" data-controller="toggle">
    <% if user_signed_in? %>
      <%# !! This line currently disables team coach from signing up for the team %>
      <% if current_user != team.user %>
        <div style="text-align: center col-5">
          <%# Link to form which selects which  to register %>
          <div class="d-flex justify-content-center">
            <div class="team-register-form mt-3 col-5" data-toggle-target="togglableElement">
              <%= simple_form_for [team, user, player], url: team_players_path(team, user) do |f|%>
                <div class="mb-3 btn-primary text-center">
                <%= f.submit 'Register for this team', class: "btn btn-default btn-primary"%>
                </div>
              <% end %>
              <p>Your request will be sent to the team coach to approve</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
