<div class="flex row justify-content-center">
  <div class="card text-bg-success mb-3 border-0 text-center" class="custom-card" style="width:20rem; height: 30rem;">
    <div class="card-body" >
      <h2 class="mb-5"> <strong><%= team.name %></strong></h2>
      <h6> <strong><%= team.location %> </strong> </h6>
    </div>
  </div>
    <div style="width: 20rem; height: 30rem;">
      <% if team.photo.attached? %>
        <%= cl_image_tag team.photo.key, style:"width: 100%; height: 100%; object-fit: cover; border-radius: 15px" %></div>
      <% else %>
        <img src="https://images.inc.com/uploaded_files/image/1920x1080/goal-soccer_36915.jpg" class="card-img-top rounded" alt="Team Photo" style="width: 100%; height: 100%;">
      <% end %>
  <div style="width: 20rem; height: 30rem;" id="team-map" class="p-0">
    <div style="width: 100%; height: 100%; border-radius: 15px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
