<div class="row" id="show-page">
  <div>
    <%= render "shared/sidebar", league: nil, team: @team%>
  </div>
  <div class="column" style="padding: 0px; grid-template-columns: 5fr;">
    <%= render "shared/navbar" %>
    <%# <h1> League - show page[:id] %>
    <div id="dashboard-content" style="padding:20px">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-players" role="tabpanel" aria-labelledby="v-pills-players-tab"><%= render "players", locals: {team: @team, player: @player, user: current_user, accepted_players: @accepted_players} %></div>
        <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">Payments go here</div>
        <div class="tab-pane fade" id="v-pills-fixtures" role="tabpanel" aria-labelledby="v-pills-fixtures-tab">Fixtures go here</div>
        <div class="tab-pane fade" id="v-pills-leagues" role="tabpanel" aria-labelledby="v-pills-leagues-tab"><%= render "players", team: @team %></div>
        <div class="tab-pane fade" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">Statistics go here</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Messages go here</div>
        <div class="tab-pane fade" id="v-pills-registrations" role="tabpanel" aria-labelledby="v-pills-registrations-tab"><%= render "registrations", players: @team.players %></div>
    </div>
    </div>
  </div>
</div>
