<%# Edit Modal  %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-succes" data-bs-toggle="modal" data-bs-target="#<%= dom_id(league) %>">
  edit
</button>

<!-- Modal -->
<div class="modal fade" id=<%= dom_id(league) %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit your league</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!---content of modal ---->
        <%= simple_form_for(league) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :format, :collection => (%w[ round-robin double-round])%>
          <%= f.input :start_date, required: true, as: :string, input_html: { data: { controller: "datepicker" } }%>
          <%= f.input :level, :collection => (%w[ beginner intermediate advanced]) %>
          <%= f.input :league_type,:collection => (%w[ 5-aside 6-aside 7-aside])%>
          <%= f.input :number_of_teams %>
          <%= f.input :days_per_week %>
          <%= f.button :submit, "Update league details", class:"btn btn-primary" %>
        <% end %>
        <!---end content of modal---->

      </div>
    </div>
  </div>
</div>
