

<div class="card text-bg-primary mb-3 border-0 text-center" class="custom-card" style="width: 20rem; height: 30rem;">
  <div class="card-body" >
    <h1 class="mb-5"> Overview </h1>
    <h6> <strong> League Name: </strong> <%= league.name %></h6>
    <h6> <strong> Description: </strong> <%= league.description %></h6>
    <h6> <strong> Format: </strong> <%= league.format %></h6>
    <h6> <strong> Start Date: </strong> <%= league.start_date %></h6>
    <h6> <strong> League Level: </strong> <%= league.level %></h6>
    <h6> <strong> League Type: </strong> <%= league.league_type %></h6>
    <h6> <strong> Number of Teams: </strong> <%= league.number_of_teams %></h6>
  </div>
</div>
