<div class="flex row justify-content-center">
  <div class="card text-bg-success mb-3 border-0 text-center" class="custom-card" style="width: 20rem; height: 30rem;">
    <div class="card-body" >
      <h2 class="mb-5"> <strong><%= league.name %></strong></h1>
      <h6> <strong> Description: </strong> <%= league.description %></h6>
      <h6> <strong> Format: </strong> <%= league.format %></h6>
      <h6> <strong> Start Date: </strong> <%= league.start_date %></h6>
      <h6> <strong> League Level: </strong> <%= league.level %></h6>
      <h6> <strong> League Type: </strong> <%= league.league_type %></h6>
      <h6> <strong> Number of Teams: </strong> <%= league.number_of_teams %></h6>
    </div>
  </div>
  <div style="width: 20rem; height: 30rem;"><%= cl_image_tag league.photo.key, style:"width: 100%; height: 100%; object-fit: cover; border-radius: 15px" %></div>
  <div style="width: 20rem; height: 30rem;" id="league-map" class="p-0">
    <div style="width: 100%; height: 100%; border-radius: 15px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
