<div class ="container">
  <% @users.league.each do |league| %>
    <div class="card text-bg-success border-0 mb-3" class="custom-card" style="width: 28rem; height: 24rem;">
      <div class="card-body" >
          <p><%= league.name%></p>
          <p>Description: <%= league.description%></p>
          <p>Format: <%= league.format%> </p>
          <p>Level: <%= league.level%> </p>
          <p>Type: <%= league.league_type%></p>
          <p>Number of teams: <%= league.number_of_teams%></p>
          <p>Number of days per week: <%= league.days_per_week%></p>
      </div>
  </div>
  <% end %>
</div>
