
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="card text-bg-success mb-3 p-3 " class="custom-card" style="width: 40rem;">
      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div>
            <h3>Create your league</h3>
          </div>
            <%= simple_form_for(@league) do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :format, :collection => (%w[ round-robin double-round])%>
              <%= f.input :start_date%>
              <%= f.input :level, :collection => (%w[ beginner intermediate advanced]) %>
              <%= f.input :league_type,:collection => (%w[ 5-aside 6-aside 7-aside])%>
              <%= f.input :number_of_teams %>
              <%= f.input :days_per_week %>
              <%= f.button :submit, "create league", class:"btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
