
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-3">
  <div class="container-fluid">
      <% if params[:action] == "home" %>
      <div>
        <h1>League-All</h1>
      </div>
      <% elsif user_signed_in? %>
      <div style="padding-top: 7px; padding-left: 22px">
        <h3>Hello, <%= current_user.first_name %>! 👋</h3>
        <p><%= current_user.role %></p>
      </div>
      <% end %>
<%# SEARCH BAR %>
    <div>
      <div class="form-inline d-flex justify-content-center text-center">
        <%= form_with url: dashboard_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a League or Team",
            style: "border-radius: 30px 0 0 30px;"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary", style: "border-radius: 0 30px 30px 0;" %>
        <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <%# <%= NOTIFICATIONS %>
          <li class="nav-item p-3 dropdown">
            <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if @notifications.count > 0 %>
                <i class="fa-solid fa-bell fa-lg" style="color: #D8E37D;"></i>
              <% else %>
                <i class="fa-solid fa-bell fa-lg" style="color: #000000;"></i>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="dropdown-item pb-3"><%= 'No new notifications' unless @notifications.any? %></p>
              <% if @notifications.any? %>
                <p class="dropdown-item border-bottom pb-3">Notifications (<%= @notifications.count %>)</p>
              <% end %>
              <% @notifications.each do |n| %>
                <%= link_to league_path(n.params[:post][:league], { tab: "notices", read: "yes", n_id: n.id }), class: "dropdown-item" do %>
                  <%= n.params[:post][:content] %>
                <% end %>
              <% end %>

            </div>
          </li>
          <!-- Add more dropdown items if needed -->
          <li class="nav-item p-3">
            <%= link_to "#" do %>
              <i class="fa-solid fa-envelope fa-lg" style="color: #000000;" class="stretched-link"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag("default_avatar.png", class: "avatar", alt: "droptdown menu") %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path(tab: "leagues"), class: "dropdown-item" %>
              <%= link_to "Profile", dashboard_path(tab: "leagues"), class: "dropdown-item" %>
              <%= link_to "Settings", dashboard_path(tab: "leagues"), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item p-1">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary"%>
          </li>
          <li class="nav-item p-1">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-danger" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
