
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <% if params[:action] == "home" %>
      <div>
        <h1>League-All</h1>
      </div>
      <% elsif user_signed_in? %>
      <div>
        <h3>Hello, <%= current_user.first_name %>! 👋</h3>
        <p><%= current_user.role %></p>
      </div>
      <% end %>

    <div>
      <form class="form-inline d-flex justify-content-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by league" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          </li>
        <% if user_signed_in? %>
          <li class="nav-item p-3">
            <%= link_to "#" do %>
              <i class="fa-solid fa-bell fa-lg" style="color: #000000;" class="stretched-link"></i>
            <% end %>
          </li>
          <li class="nav-item p-3">
            <%= link_to "#" do %>
              <i class="fa-solid fa-envelope fa-lg" style="color: #000000;" class="stretched-link"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar p-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path(tab: "leagues"), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item p-1">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary"%>
          </li>
          <li class="nav-item p-1">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-danger" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
