<div class="nav-side">

  <%# LOGO GOES HERE %>
  <div class="logo p-2">
    <div style="margin-top: 0.8rem !important;">
      <h1><%= link_to "League-All", root_path %></h1>
    </div>
  </div>
  <%# LIST OPTIONS START HERE %>
  <% if league != nil %>
    <h6 style="text-align: center"><%= link_to "<i class='fa-solid fa-arrow-left'></i> Back to dashboard".html_safe, dashboard_path(tab: "leagues"), class:"link-danger" %></h6>
    <div class="nav-link" id="league-name" style= "text-align: center; margin: 10px; padding: 10px; border-radius: 40px"><h5 style="margin: 0"><strong><%= league.name %></strong></h5></div>
  <% elsif team != nil %>
    <h6 style="text-align: center"><%= link_to "<i class='fa-solid fa-arrow-left'></i> Back to dashboard".html_safe, dashboard_path(tab: "teams"), class:"link-danger" %></h6>
    <div class="nav-link" id="league-name" style= "text-align: center; margin: 10px; padding: 10px; border-radius: 40px"><h5 style="margin: 0"><strong><%= team.name %></strong></h5></div>
  <% end %>
  <div class="d-flex align-items-start justify-content-center" style="margin-top: 22px">
    <div class="nav flex-column nav-pills" style ="border-radius: 40px" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%# IF NOT ON LEAGUE DASHBOARD IT WILL SKIP THIS %>
      <% if league != nil %>
        <%# THE BELOW DETERMINES IF THE CURRENT USER IS LEAGUE OWNER %>
        <% if league.user == current_user %>
          <%# RENDERS LEAGUE/ORGANISER VIEW %>
          <%= render "shared/sidebar_options/organiser_league" %>
        <% else %>
          <%# RENDERS LEAGUE/USER VIEW %>
          <%= render "shared/sidebar_options/user_league" %>
        <% end %>
      <%# IF NOT ON TEAM DASHBOARD IT WILL SKIP THIS %>
      <% elsif team != nil %>
        <% if team.user == current_user %>
          <%# RENDERS TEAM/COACH VIEW %>
          <%= render "shared/sidebar_options/team_coach" %>
        <% else %>
          <%# RENDERS TEAM/USER VIEW %>
          <%= render "shared/sidebar_options/team_user" %>
        <% end %>
      <% else %>
        <%# RENDERS DASHBOARD OPTIONS %>
        <%= render "shared/sidebar_options/tabulate_dashboard" %>
      <% end %>
    </div>
  </div>
</div>
