<div class="d-flex justify-content-between">
<div class="container browse-flex-container" >
  <div class="row browse-rows" >

    <div class="col-5 m-3">
      <% @leagues.each do |league| %>
      <div class="card text-bg-success mb-3 border-0" class="custom-card" style="width: 18rem; height: 18rem;">
          <% if league.photo.attached? %>
            <img src=<%= cl_image_path league.photo.key %> class="card-img-top" alt="Team Photo">
          <% else %>
            <img src="https://images.inc.com/uploaded_files/image/1920x1080/goal-soccer_36915.jpg" class="card-img-top" alt="Team Photo">
          <% end %>
        <div class="card-body" >
        <div class="d-flex justify-content-between">
          <h5 class="card-title"><%= league.name %></h5>
          <div class="favourites">
              <p>
                <% if current_user.favourites.find_by(league: league).nil? %>
                  <%= link_to league_favourites_path(league),data: { turbo_method: "POST" } do %>
                    <i class="fa-regular fa-heart fa-xl" style="color: #738CE7"></i>
                  <% end %>
                <% else %>
                  <%= link_to favourite_path(current_user.favourites.find_by(league: league)), data: { turbo_method: "DELETE", turbo_confirm: "Are you sure you want to unfollow?" } do %>
                    <i class="fa-solid fa-heart fa-xl" style="color: #738CE7"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
          <%= link_to "", league_path(league), class:"stretched-link" %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-5 m-3">
      <% @teams.each do |team| %>
        <div class="card text-bg-warning mb-3 border-0 mx-4" class="custom-card" style="width: 18rem; height: 18rem;">
          <% if team.photo.attached? %>
            <img src=<%= cl_image_path team.photo.key %> class="card-img-top" alt="Team Photo">
          <% else %>
            <img src="https://images.inc.com/uploaded_files/image/1920x1080/goal-soccer_36915.jpg" class="card-img-top" alt="Team Photo">
          <% end %>
          <div class="card-body" >
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= team.name %></h5>
            <div class="favourites">
              <p>
                <% if current_user.favourites_teams.find_by(team: team).nil? %>
                  <%= link_to team_favourites_team_index_path(team), data: { turbo_method: "POST" } do %>
                    <i class="fa-regular fa-heart fa-xl" style="color: #738CE7"></i>
                  <% end %>
                <% else %>
                  <%= link_to favourites_team_path(current_user.favourites_teams.find_by(team: team)), data: { turbo_method: "DELETE", turbo_confirm: "Are you sure you want to unfollow?" } do %>
                    <i class="fa-solid fa-heart fa-xl" style="color: #738CE7"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
            <%= link_to "", team_path(team), class:"stretched-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div style="width: 30rem; height: 45rem;" id="league-map" class="m-3 sticky-top">
    <div style="width: 100%; height: 100%; border-radius: 15px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
