<h3 class="mx-3">Your Leagues</h3>
<br>
<div class="row content" >
  <% @user.leagues.each do |league| %>
    <div class="card text-bg-success mb-3 border-0 mx-4" class="custom-card" style="width: 20rem; height: 18rem; padding:0">
    <% if league.photo.attached? %>
        <img src=<%= cl_image_path league.photo.key %> class="card-img-top" alt="League Photo">
      <% end %>
      <div class="card-body" >
        <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= league.name %></h5>
          <div class="favourites d-flex inline-flex mt-4">
            <%# Edit %>
            <div>
              <%= render "leagues/edit_league", league: league%>
            </div>
            <%# Delete %>
            <div>
              <%= render "leagues/delete_league", league: league%>
            </div>
          </div>
        </div>
        <%= link_to "", league_path(league), class:"stretched-link" %>
      </div>
    </div>

    <%# edit modal %>
    <%= render "leagues/edit_league_modal", league: league %>
  <% end  %>
  <%# create modal %>
  <%= render "leagues/create_league_modal", league: new_league_path %>
</div>
