<h3 class="mx-3">Your Leagues</h3>
<br>
<div class="content">
  <div class="row m-0 w-100">
    <div class="col-8 pe-0">
      <div class="row m-0">
        <% @user.leagues.each do |league| %>
            <div class="col-6">
              <div class="card text-bg-success mb-3 border-0" class="custom-card" style="height: 18rem; padding:0">
              <% if league.photo.attached? %>
                  <img src=<%= cl_image_path league.photo.key %> class="card-img-top" alt="League Photo">
                <% end %>
                <div class="card-body" >
                  <div class="d-flex justify-content-between">
                  <h5 class="card-title"><%= league.name %></h5>
                    <div class="favourites d-flex inline-flex mt-4">
                      <%# Edit %>
                      <div>
                        <%= render "leagues/edit_league", league: league%>
                      </div>
                      <%# Delete %>
                      <div>
                        <%= render "leagues/delete_league", league: league%>
                      </div>
                    </div>
                  </div>
                  <%= link_to "", league_path(league), class:"stretched-link" %>
                </div>
              </div>
              <%= render "leagues/edit_league_modal", league: league %>
            </div>
          <%# edit modal %>
        <% end %>
      </div>
    </div>
        <%# create modal %>
    <div class="col-4">
      <%= render "leagues/create_league_modal", league: new_league_path %>
    </div>
  </div>
</div>
