<div class="row" id="dashboard">
  <div>
    <%= render "shared/sidebar", league: nil %>
  </div>
  <div class="column" style="padding: 0px; grid-template-columns: 5fr;">
    <div>
      <%= render "shared/navbar" %>
    </div>
    <div id="dashboard-content" style="padding:20px">
      <h1>Your Leagues</h1>
      <%= link_to "Create Your League",new_league_path, class: "btn btn-main btn-primary" %>
      <%= @leagues.each do |league| %>
      <%= league.name %>
      <% end %>
    </div>



      <h1>Your Teams</h1>
    </div>
    </div>
  </div>
</div>
