<div class="row" id="dashboard">
  <div>
    <%= render "shared/sidebar", league: nil %>
  </div>
  <div class="column" style="padding: 0px; grid-template-columns: 5fr;">
  <div>
    <%= render "shared/navbar" %>
  </div>
  <div id="dashboard-content" style="padding:20px">
    <h2>Dashboard</h2>
    <br>
    <h3>your leagues</h3>
    <div class="d-flex flex-row" >
              <% @user.leagues.each do |league| %>
                <div class="card text-bg-primary mb-3 border-0 mx-4" class="custom-card" style="width: 18rem; height: 12rem;">
                  <div class="card-body" >
                    <h5 class="card-title"><%= league.name %></h5>
                    <p><%= league.format%></p>
                    <p><%= league.level%></p>
                    <p><%= league.league_type%></p>
                    <a href="#" class="stretched-link"></a>
                    <%= link_to '', league_path(league), class:'stretched-link' %>
                  </div>
                </div>
              <% end  %>
              <%= render "leagues/create_league_modal", league: new_league_path %>
    </div>




      <h1>Your Teams</h1>
        <div class="d-flex flex-row" >
              <% @user.teams.each do |team| %>
                <div class="card text-bg-primary mb-3 border-0 mx-4" class="custom-card" style="width: 18rem; height: 12rem;">
                  <% if team.photo.attached? %>
                    <img src=<%= cl_image_path team.photo.key %> class="card-img-top" alt="Team Photo">
                  <% end %>
                  <div class="card-body" >
                    <h5 class="card-title"><%= team.name %></h5>
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              <% end  %>
            <%= render "teams/team_form" %>
        </div>
      </div>

    </div>
  </div>
    </div>
  </div>
</div>
