
  <! -- hero section -->
  <div class="container banner-hero flex-column align-items-center">
    <div class=" mx-4 mt-5 d-flex align-items-center">
      <div>
        <h5 class="hero-title"><strong>Shaping the future of women’s and non-binary football league management</strong></h5>
        <p class="hero-subtitle">Creating an unforgettable football league experience for all</p>
        <%= link_to "Create Your League", new_user_session_path, class: "btn btn-main btn-primary" %>
      </div>
      <%= image_tag("boots.jpg", alt: "Your Image", class: "ml-4 rounded", style: "max-width: 400px; height: auto;") %>
    </div>
  </div>

  <! -- Second highlights with league logos -->
  <div class="  container mt-5">
  <h4 class="">Trusted by many</h4>
  <div class= " container d-flex justify-content-between align-items-center">
    <p class= "d-inline-flex">10,000+ players<p>
    <p class= "d-inline-flex">10,000+ players<p>
    <p class= "d-inline-flex">10,000+ players<p>
  </div>
  </div>

</div>
<div class="d-flex justify-content-center align-items-center">
  <%= image_tag('super.jpg', class: 'card d-inline-flex icon mx-2') %>
  <%= image_tag('images.png', class: 'card d-inline-flex icon mx-2') %>
  <%= image_tag('leon.png', class: 'card d-inline-flex icon mx-2') %>
  <%= image_tag('hanover.png', class: 'card d-inline-flex icon mx-2') %>
  <%= image_tag('ELL.jpeg', class: 'card d-inline-flex icon mx-2') %>
</div>


  <! -- How it works -->

<div class = "container text-center">
  <h4 class="mb-3 mt-4"> How it works </h4>

  <div class="card text-bg-primary mb-3 mt-4 mx-3 border-0 d-inline-flex" class="custom-card" style="width: 10rem; height: 8rem;">
    <div class="card-body" >
      <p class="card-title  text-center">Sign up & set up your league</p>
    </div>
  </div>

  <div class="card text-bg-primary mb-3 mx-3 border-0 d-inline-flex" class="custom-card" style="width: 10rem; height: 8rem;">
    <div class="card-body" >
      <p class="card-title text-center">Build your leagues & teams</p>
    </div>
  </div>

  <div class="card text-bg-primary mb-3 mx-3 border-0 d-inline-flex" class="custom-card" style="width: 10rem; height: 8rem;">
    <div class="card-body" >
      <p class="card-title text-center">Streamline meatches & engage fans</p>
    </div>
  </div>
</div>

  <! -- Mid sections -->

  <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-7">
          <h4>Sign up & set up league</h4>
          <p>With our user-friendly sign-up platform setting up your league is a breeze—define your format, rules, and schedule effortlessly.</p>
          <%= link_to "Create Your League", new_user_session_path, class: "btn btn-main btn-primary" %>
      </div>
      <div class="col-12 col-lg-3 home-card">
        <%= image_tag('players.jpg', class: "rounded") %>
      </div>
  </div>

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-3 home-card">
        <%= image_tag('players.jpg', class: "rounded") %>
      </div>
      <div class="col-12 col-lg-7">
          <h4>Build your leagues & team</h4>
          <p>Register teams with ease, manage rosters effortlessly, and elevate your league with a personalized touch.</p>
          <%= link_to "Create Your League", new_user_session_path, class: "btn btn-main btn-primary" %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-7">
        <h4>Streamline meatches & engage fans</h4>
        <p>Schedule, track results, and update standings in real-time.</p>
        <%= link_to "Create Your League", new_user_session_path, class: "btn btn-main btn-primary" %>
      </div>
      <div class="col-12 col-lg-3 home-card">
        <%= image_tag('players.jpg', class: "rounded") %>
      </div>
    </div>


  <! -- Testimonials section -->
    <div class = "container text-center">
      <p>Testimonials</p>
      <h3>Read what others have to say</h3>
      <div class = "container mt-4">
        <div class="card text-bg-danger mb-3 mx-3 d-inline-flex text-white border-0" class="custom-card" style="width: 18rem; height: 16rem;">
          <div class="card-body" >
              <h5 class="card-title">Sarina Wiegman </h5>
              <p>⭐⭐⭐⭐⭐</p>
              <p class="card-text">Its features are intuitive, offering a seamless experience for players - keeping us connected and informed.</p>
          </div>
        </div>

          <div class="card text-bg-danger mb-3 mx-3 d-inline-flex text-white border-0" class="custom-card" style="width: 18rem; height: 16rem;">
            <div class="card-body" >
                <h5 class="card-title"> Lucy Bronze </h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text"> I can't get enough of this league simplifying platform! The strategic insights and real-time updates have elevated our gameplay. </p>
            </div>
          </div>

          <div class="card text-bg-danger mb-3 mx-3 d-inline-flex text-white border-0" class="custom-card" style="width: 18rem; height: 16rem;">
            <div class="card-body" >
                <h5 class="card-title">Mary Earps </h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">Using this league platform has been a joy! Its simplicity and clear interface make tracking the game's progress a breeze - very user-friendly design</p>
            </div>
          </div>
      </div>
    </div>

  <! -- footer section -->

<div id="footer">
  <div class="footer-column d-inline-flex">
    <h4>League-all</h4>
    <ul>
      <li><%= link_to "Home" %></li>
      <li><%= link_to "About"%></li>
      <li><%= link_to "For Organisers" %></li>
      <li><%= link_to "For Teams" %></li>
      <li><%= link_to "Browse Leagues"%></li>
    </ul>
  </div>

  <div class="footer-column d-inline-flex">
    <h6>Contact</h6>
    <ul>
      <li>Email</li>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/" %></li>
      <li><%= link_to "Instagram", "https://www.instagram.com/" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/" %></li>
    </ul>
  </div>
</div>





</div>
</div>
