<%=  render "shared/navbar" %>
  <! -- hero section -->
  <br>
<div class="container" style="width: 1500px;">

  <div class="flex-column align-items-center mb-5">
    <div class=" mx-4 mt-5 d-flex align-items-center mb-5">
      <div>
        <h5 class="hero-title"><strong>Shaping the future of women’s and non-binary football league management</strong></h5>
        <p class="hero-subtitle">Creating an unforgettable football league experience for all</p>
        <%= link_to "Get started", dashboard_path, class: "btn btn-main btn-primary", style: "color: black;" %>
      </div>
      <%= image_tag("boots.jpg", alt: "Your Image", class: "ml-4 rounded", style: "max-width: 400px; height: auto;") %>
    </div>
  </div>
  <br>
  <br>

  <div class="container mb-3 d-flex align-items-center justify-content-center">
    <a href="#scroll-target">
      <%= image_tag('arrow.png', class: 'd-inline-flex align-items-center') %>
    </a>
</div>
    <br>
    <br>
    <br>

    <! -- How it works -->

    <br>
    <br>
<div id="scroll-target"></div>
<div class = "container text-center my-5 pt-2">
  <h4 class="mb-3 mt-4"  style="width: 100%; height: 100%; color: black; font-size: 48px; "><strong> How it works </strong></h4>

  <div class="cards">
    <%= link_to new_user_session_path do %>
      <div class="how-it-works card text-bg-primary mb-3 mt-4 mx-3 border-0" class="custom-card" style="width: 250px; height: 250px;">
      <div class="circle text-center fs-2">1</div>
        <div class="card-body">
        <br>
        <br>
          <h3 class="card-title text-center">Register and manage your teams with ease</h3>
        </div>
      </div>
    <% end %>

    <%= link_to dashboard_path do %>
      <div class="how-it-works card text-bg-primary mb-3 mx-3 border-0" class="custom-card" style="width: 250px; height: 250px;">
      <div class="circle text-center fs-2">2</div>
        <div class="card-body" >
        <br>
        <br>
          <h2 class="card-title text-center">Find and join the league for you</h2>
        </div>
      </div>
    <% end %>

    <%= link_to dashboard_path do %>
    <div class="how-it-works card text-bg-primary mb-3 mx-3 border-0" class="custom-card" style="width: 250px; height: 250px;">
    <div class="circle text-center fs-2">3</div>
      <div class="card-body" >
      <br>
      <br>
        <h2 class="card-title text-center">Get notified with all match information</h2>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <br>
</div>

  <! -- Mid sections -->
  <br>
  <br>
  <div class="row justify-content-center mt-5">
      <div class="mid col-12 col-lg-7 justify-content-center">
          <h3 style="font-size: 35px"><strong>Set up your league as an organiser</strong></h3>
          <p>Our user-friendly sign-up platform ensures a seamless experience as you effortlessly define your league's format, rules, and schedule.</p>
          <p>No more hassle or confusion – just a straightforward and intuitive process to kickstart your league on the right foot. Sign up now and let the simplicity begin!</p>
          <%= link_to "Create League", new_user_session_path, class: "btn btn-main btn-primary", style: "color: black;" %>
      </div>
      <div class="col-12 col-lg-3 home-card">
        <%= image_tag('field.jpg', class: "rounded") %>
      </div>
  </div>

    <div class="row justify-content-center mt-5">
      <div class="mid col-12 col-lg-3 home-card">
        <%= image_tag('13.jpg', class: "rounded") %>
      </div>
      <div class="col-12 col-lg-7 justify-content-center">
          <h3 style="font-size: 35px"><strong>Build your team & assemble the perfect line-up</strong></h3>
          <p>Build your winning team effortlessly! Register teams with ease, manage rosters seamlessly, and elevate your league with a personalized touch.</p>
          <p>Start your journey towards success now.</p>
          <%# link_to "Register team", leagues_path, class: "btn btn-main btn-primary", style: "color: black;" %>
          <form action="/dashboard">
            <input type="text" id="tab" name="tab" value="teams" class="d-none"/>
            <input type="submit" value="Register Team" class="btn btn-main btn-primary" style="color: black;" >
        </form>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="mid col-12 col-lg-7 justify-content-center">
        <h3 style="font-size: 35px"><strong>Streamline matches & connect with your teams</strong></h3>
        <p>For enhanced experience be able to effortlessly streamline matches and captivate players!</p>
        <p>Schedule with precision, track live results, and keep your audience engaged with real-time standings updates.</p>
        <%= link_to "Get Started", dashboard_path(tab: "leagues"), class: "btn btn-main btn-primary", style: "color: black;" %>
      </div>
      <div class="col-12 col-lg-3 home-card">
        <%= image_tag('players.jpg', class: "rounded") %>
      </div>
    </div>

    <! -- Second highlights with league logos -->

 <div class="container-trusted mt-5">
  <h4 class="mx-5" style="width: 100%; height: 100%; color: black; font-size: 20px"><strong>Trusted by</strong></h4>
  <%# <div class= " container d-flex justify-content-between align-items-center">
    <p class= "d-inline-flex">10,000+ league organisers<p>
    <p class= "d-inline-flex">80,000+ players<p>
    <p class= "d-inline-flex">100,000+ games played<p>
  </div>
  </div> %>
<div class="d-flex justify-content-center align-items-between mx-5">
  <%= image_tag('super.jpg', class: 'd-inline-flex icon mx-2') %>
  <%= image_tag('images.png', class: 'd-inline-flex icon mx-2') %>
  <%= image_tag('leon.png', class: 'd-inline-flex icon mx-2') %>
  <%= image_tag('hanover.png', class: 'd-inline-flex icon mx-2') %>
  <%= image_tag('ELL.jpeg', class: 'd-inline-flex icon mx-2') %>
</div>
</div>

  <! -- Testimonials section -->
    <div class = "container text-center">
      <p style="font-size: 20px">Testimonials</p>
      <h1><strong>Read what others have to say</strong></h1>
      <div class = "container mt-4">
        <div class="card text-bg-success mb-3 mx-3 d-inline-flex text-black  border-0" class="custom-card" style="width: 18rem; height: 16rem;">
          <div class="card-body" >
              <p>⭐⭐⭐⭐⭐</p>
              <p class="card-text">"Its features are intuitive, offering a seamless experience for players - keeping us connected and informed."</p>
              <br>
              <br>
              <h5 class="card-title"><strong> - Sarina Wiegman</strong></h5>
          </div>
        </div>

          <div class="card text-bg-success mb-3 mx-3 d-inline-flex text-black  border-0" class="custom-card" style="width: 18rem; height: 16rem;">
            <div class="card-body" >
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text"> "I can't get enough of this league simplifying platform! The strategic insights and real-time updates have elevated our gameplay."" </p>
                <br>
                <h5 class="card-title"><strong> - Lucy Bronze</strong> </h5>
            </div>
          </div>

          <div class="card text-bg-success mb-3 mx-3 d-inline-flex text-black border-0" class="custom-card" style="width: 18rem; height: 16rem;">
            <div class="card-body" >
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"Using this league platform has been a joy! Its simplicity and clear interface make tracking the game's progress a breeze - very user-friendly design"</p>
                <h5 class="card-title"><strong> - Mary Earps</strong></h5>
            </div>
          </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  <! -- footer section -->


<div id="footer" class=" container d-flex mx-5 mt-3 border-1 border-top border-success" >
  <div class="footer-column d-inline-flex mt-3">
    <div class="links text-black text-decoration-none" style="width:200px">
      <ul>
        <li><p>League-All</p></li>
        <li><p><%= link_to "About"%></p></li>
        <li><p><%= link_to "FAQs"%></p></li>
        <li><p><%= link_to "Teams"%></p></li>
        <li><p><%= link_to "Leagues" %></p></li>
      </ul>
    </div>
  </div>

  <div class="container footer-column d-inline-flex mt-3 ">
  <div class="links text-black text-decoration-none" style="width:200px">
    <ul>
      <li><p>Contact</p></li>
      <li><p><%= link_to "Email", "https://www.linkedin.com/" %></p></li>
      <li><p><%= link_to "Instagram", "https://www.instagram.com/" %></p></li>
      <li><p><%= link_to "Twitter", "https://twitter.com/" %></p></li>
    </ul>
  </div>
</div>

  <div class="container footer-column d-inline-flex mt-3">
  <p>Join Our Newsletter</p>
  <div>
      <form class="form d-inline-flex mx-5 mt-5">
        <input class="form-control mr-sm-2" style="font-size:12px" type="search" placeholder="Enter your email" aria-label="Search">
        <button class="btn btn-danger my-2 my-sm-0 text-nowrap" style="font-size:12px" type="submit">Sign me up!</button>
      </form>
  </div>

</div>

</div>


<%# JS SCROLL %>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
<%# JS SCROLL END %>
